* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* font family */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
